<h1>Is a bus nearby?</h1>

<p>
	Give us your address of approximate location (<em>I'm at the corner of...</em>), and we'll let you know if a bus is in the vicinity!
</p>

<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
